*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 10%;
    height: 100vh;
    background-color: linear-gradient(#f44336,#730228);
    display: flex;
    align-items: center;
    justify-content: center;
}